header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffe1d0;
  padding: 10px 20px;
  border-bottom: 2px solid #ccc;
}

.logo {
  background-color: #b6f0dc;
  color: #004d25;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}

.titulo {
  font-weight: 600;
  color: #333;
  flex: 1;
  text-align: center;
}

.infos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.data {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.empresa,
.usuario {
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
}

.menu {
  font-size: 1.3rem;
  cursor: pointer;
}
